html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Noto Sans',
      sans-serif;
    color: darkslategrey;
  }

  /* .gameTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 250px;
} */

h1 {
    font-size: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: auto;
    padding-top: 25%;
}

.playingScreens {
    display: flex;
    justify-content: center;
    align-itmes: center;
    flex-direction: column;
}

.questionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.questionsBox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    height: 200px;
    width: 800px;
    border: solid;
    border-radius: 15px;
    border-color: white;
    background-color: silver;
    margin-top: 7%;
}

.answersContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.optionsColumn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 75px;
}

.optionA {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    height: 250px;
    width: 300px;
    border: solid;
    border-radius: 15px;
    border-color: white;
    background-color: silver;
    margin-top: 15%;
    opacity: .85;
}

.optionA:hover {
    opacity: 1;
}

.optionA:active {
    transform: translateY(4px);
}

.optionB {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    height: 250px;
    width: 300px;
    border: solid;
    border-radius: 15px;
    border-color: white;
    background-color: silver;
    margin-top: 15%;
    opacity: .85;
}

.optionB:hover {
    opacity: 1;
}

.optionB:active {
    transform: translateY(4px);
}

.optionsColumn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.optionC {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    height: 250px;
    width: 300px;
    border: solid;
    border-radius: 15px;
    border-color: white;
    background-color: silver;
    margin-top: 15%;
    opacity: .85;
}

.optionC:hover {
    opacity: 1;
}

.optionC:active {
    transform: translateY(4px);
}

.optionD {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    height: 250px;
    width: 300px;
    border: solid;
    border-radius: 15px;
    border-color: white;
    background-color: silver;
    margin-top: 15%;
    opacity: .85;
}

.optionD:hover {
    opacity: 1;
}

.optionD:active {
    transform: translateY(4px);
}